*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #eee;
}

body{
    /*font: normal 14px sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #3A56B7;
    overflow: hidden;
}


header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    font-size: 2.5em;
    display: inline-block;
}

#main {
    margin-left: 2%;
    margin-top: 2%;
}
#video-placeholder{
    max-width: 50%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

#logo {
    display: inline-block;
    margin-top:10px;
    width: 150px;
    height: 50px;
}
#volume-input{
    height: 32px;
    width: 45px;
}

.header{
    display: block;
    margin: 0 auto;
    width: 550px;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

@media (max-width: 1200px) {

    #video-placeholder{
        max-width: 100%;
        position: static;
    }

    #controls{
        margin-right: 0;
    }

    #bsaHolder{ display:none;}
}