*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #eee;
}

body{
    /*font: normal 14px sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    font-size: 2.5em;
    display: inline-block;
}

#main {
    margin-left: 2%;
    margin-top: 2%;
}
#video-placeholder{
    max-width: 50%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

#logo {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
}

.header{
    display: block;
    margin: 0 auto;
    width: 550px;
}


@media (max-width: 1200px) {

    #video-placeholder{
        max-width: 100%;
        position: static;
    }
}