*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #eee;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    font-size: 2.5em;
    display: inline-block;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5em;
    display: inline-block;
    margin-bottom: 10px;
}

h4 {
    font-weight: 300;
    font-size: 2.0em;
    margin-bottom: 10px;
}
#main {
    margin-left: 2%;
    margin-top: 2%;
}
#video-placeholder{
    max-width: 35%;
    width: 100%;
    position: fixed;
    top: 100px;
    right: 30px;
}

#left-column {
    margin-right: 40%;
}
#logo {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
}

.header{
    display: block;
    margin: 0 auto;
    width: 550px;
}

#currentVolume {
    margin-top: 3px;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 30px;
    background-color: gray;
}

#volumeBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: red;
}

#label {
    text-align: center; /* If you want to center it */
    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
    color: white;
}


@media (max-width: 1200px) {

    #video-placeholder{
        max-width: 100%;
        position: static;
    }
}